
.hedd{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
    margin-left:  70px;
    background-color:#000;
    color: #ffffff;
    border-radius: 25px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .producthome{
    padding: 0 10vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }